{% load static %}
<div id="footer">
    <p>
        RUBIS - SNU</br>
        Real-Time Ubiquitous Systems Laboratory, Seoul National University</br>
        RM.415 BLDG.301 / RM.409 BLDG.301(Prof.)</br>
        1 Gwanak-ro Gwanak-gu Seoul 151-744 Korea</br>
        Phone: +82-2-880-2562,1862(Prof.) / Fax: +82-2-880-8700
    </p>
    <img src="{% static 'oscar/img/starlab.png' %}" class="starlabPic" alt="car" width="100px" height="50px">
    <img src="{% static 'oscar/img/hyundai-logo.png' %}" class="hyundaiPic" alt="car" width="200px" height="100px">
    <img src="{% static 'oscar/img/rubislogo.png' %}" class="rubisPic" alt="car" width="200px" height="100px">
</div>